# Basic Feature Engineering

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd

Reading Input files

In [19]:
Final_Dataset_Train = pd.read_csv('C:/Users/Asus/Desktop/Final_Implementation/Processed/Final_Dataset_Train.csv')
Final_Dataset_Test = pd.read_csv('C:/Users/Asus/Desktop/Final_Implementation/Processed/Final_Dataset_Test.csv')

Remove the columns which are no longer required

In [20]:
remove_columns=['BeneID', 'ClaimID', 'ClaimStartDt','ClaimEndDt','AttendingPhysician','OperatingPhysician', 'OtherPhysician',
                'ClmDiagnosisCode_1','ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4','ClmDiagnosisCode_5',
                'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7','ClmDiagnosisCode_8', 'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10',
                'ClmProcedureCode_1', 'ClmProcedureCode_2', 'ClmProcedureCode_3','ClmProcedureCode_4', 'ClmProcedureCode_5',
                'ClmProcedureCode_6','ClmAdmitDiagnosisCode', 'AdmissionDt', 'ClaimStart_Year', 'ClaimStart_Month',
                'ClaimEnd_Year', 'ClaimEnd_Month', 'Admission_Year', 'Admission_Month', 'Discharge_Year', 'Discharge_Month',
                'DischargeDt', 'DiagnosisGroupCode','DOB', 'DOD','Birth_Year', 'Birth_Month','State', 'County','IPAnnualReimbursementAmt', 
                'OPAnnualReimbursementAmt','IPAnnualDeductibleAmt',   'OPAnnualDeductibleAmt']

Final_Dataset_Train_FE=Final_Dataset_Train.drop(columns=remove_columns, axis=1)
Final_Dataset_Test_FE=Final_Dataset_Test.drop(columns=remove_columns, axis=1)

In [21]:
# Convert type of Gender and Race to categorical feature
Final_Dataset_Train_FE.Gender=Final_Dataset_Train_FE.Gender.astype('category')
Final_Dataset_Test_FE.Gender=Final_Dataset_Test_FE.Gender.astype('category')

Final_Dataset_Train_FE.Race=Final_Dataset_Train_FE.Race.astype('category')
Final_Dataset_Test_FE.Race=Final_Dataset_Test_FE.Race.astype('category')

In [22]:
# Do one hot encoding for gender and Race
Final_Dataset_Train_FE=pd.get_dummies(Final_Dataset_Train_FE,columns=['Gender','Race'])
Final_Dataset_Test_FE=pd.get_dummies(Final_Dataset_Test_FE,columns=['Gender','Race'])

Now group by Provider and take sum to create feature corresponding to each provider

In [23]:
Final_Dataset_Provider_Train = Final_Dataset_Train_FE.groupby(['Provider','PotentialFraud'],as_index=False).agg('sum')
Final_Dataset_Provider_Test  = Final_Dataset_Test_FE.groupby(['Provider'],as_index=False).agg('sum')

In [24]:
Final_Dataset_Provider_Train.shape

(5410, 34)

In [25]:
Final_Dataset_Provider_Test.shape

(1353, 33)

In [26]:
Final_Dataset_Provider_Train.PotentialFraud.replace(['Yes','No'],['1','0'],inplace=True)
Final_Dataset_Provider_Train.PotentialFraud=Final_Dataset_Provider_Train.PotentialFraud.astype('int64')

In [27]:
Final_Dataset_Provider_Train.head(2)

,Provider,PotentialFraud,Unnamed: 0,InscClaimAmtReimbursed,DeductibleAmtPaid,Hospitalization_Duration,Claim_Period,ExtraClaimDays,Inpatient_or_Outpatient,RenalDiseaseIndicator,...,Patient_Age,isDead,IP_OP_TotalReimbursementAmt,IP_OP_AnnualDeductibleAmt,Gender_0,Gender_1,Race_1,Race_2,Race_3,Race_5
0,PRV51001,0,13038925,104640,5340.0,30.0,61,0.0,5,8,...,1971.0,0,505530,34026,16,9,21,4,0,0
1,PRV51003,1,60759138,605670,66286.0,382.0,617,0.0,62,29,...,9243.0,1,1352520,220248,78,54,107,24,0,1

In [28]:
Final_Dataset_Provider_Test.head(2)

,Provider,Unnamed: 0,InscClaimAmtReimbursed,DeductibleAmtPaid,Hospitalization_Duration,Claim_Period,ExtraClaimDays,Inpatient_or_Outpatient,RenalDiseaseIndicator,NoOfMonths_PartACov,...,Patient_Age,isDead,IP_OP_TotalReimbursementAmt,IP_OP_AnnualDeductibleAmt,Gender_0,Gender_1,Race_1,Race_2,Race_3,Race_5
0,PRV51002,10762295,53790,380.0,0.0,406,0.0,0,32,2424,...,14835.0,3,1542830,251372,134,71,169,30,2,4
1,PRV51006,7319367,30720,0.0,0.0,315,0.0,0,10,1224,...,7626.0,0,629260,110724,59,43,76,26,0,0

In [29]:
Final_Dataset_Provider_Train.to_csv('C:/Users/Asus/Desktop/Final_Implementation/Processed/Final_Train_base.csv')
Final_Dataset_Provider_Test.to_csv('C:/Users/Asus/Desktop/Final_Implementation/Processed/Final_Test_base.csv')